.table {
  max-width: 700px;
  margin-bottom: 1rem;
  /*   border-top: 3px outset black;
    border-bottom: 3px outset black; */
  border: 1px solid black;
}
.headerTableH {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid black;
  text-transform: uppercase;
}

.headerTableH td {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
}

.tableBody {
  height: 15.9rem;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 0.5fr 0.5fr;
}

.divTest {
  display: grid;
  width: 100%;
  grid-template-areas: "left right";
  grid-template-columns: 300px 400px;
  grid-template-rows: min-content;
  font-size: 16px;
  text-transform: uppercase;
}
.columnLeft {
  grid-area: left;
}

.columnRight {
  grid-area: right;
}

.textAreaUser {
  grid-area: right;
  resize: none;
  display: flex;
  text-align: center;
  font-size: 1rem;
  font-weight: 300;
  width: 399px;
  height: 2.55rem;
  border: none;
  font-family: "Roboto", sans-serif;
  border: 1px solid black;
  &:focus {
    border: none;
  }
}
.fieldBody {
  display: flex;
  justify-content: center;
  width: 400px;
  border: 1px solid red;
}

.contentTr {
  grid-area: left;
  display: flex;
  text-align: center;
  align-items: center;
  width: 100%;
  height: 2.65rem;
  border-top: 1px solid black;
  border-right: 1px solid black;
}
