.container{
    display: flex;
    justify-content: flex-end;
    margin-top: 0.7rem;
}

.button{
    background-color: var(--danger);
    height: 1.5rem;
    width: 9rem;
    align-items: center;
    justify-content: space-evenly;
}

.button:hover{
    box-shadow: 3px 3px 10px var(--danger);
    
}