.ItensService {
  display: grid;
  width: 100%;
  grid-template-columns: 1.1fr 2fr 0.85fr;
  grid-template-rows: min-content;
  font-size: 1rem;
  align-items: flex-start;
  text-align: center;
}

.quantity {
  border-right: 15px black solid;
}
.content {
  border-right: 1.5px black solid;
}

td {
  height: 3rem;
}

.servico {
  border-right: 1.6px solid black;
  border-top: 1.6px solid black;
  border-bottom: 1.6px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.quantidade {
  border-right: 1.6px solid black;
  border-top: 1.6px solid black;
  border-bottom: 1.6px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.valor {
  border-top: 1.6px solid black;
  border-bottom: 1.6px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.value {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
  align-items: center;
}
