
.quantity {
  border-right: 15px black solid;
}
.content {
  border-right: 1.5px black solid;
}

td {
  height: 2.7rem;
}

.servico {
  border-right: 1.6px solid black;
  border-top: 1.6px solid black;
  border-bottom: 1.6px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.quantidade {
  border-right: 1.6px solid black;
  border-top: 1.6px solid black;
  border-bottom: 1.6px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.valor {
  border-top: 1.6px solid black;
  border-bottom: 1.6px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  
}

.value {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
  align-items: center;
  
}
