.editarTable {
  margin-top: 0.5rem;
  height: 2rem;
  width: 100%;
  display: grid;
  gap: 0.2rem;
  justify-content: flex-end;
}

.button {
  width: 10rem;
  height: 2rem;
  background-color: var(--primary);
}
.button span {
  align-items: center;
  padding-right: 0.5rem;
}
.button:hover {
  box-shadow: 2px 2px 4px var(--primary);
  content: "teste";
}

.botao:hover::before {
  content: "Editar tabela";
  color: white;
  position: absolute;
  z-index: 1;
  background: #4caf50;
  padding: 10px;
  border-radius: 5px;
  margin-top: -30px;
  margin-left: -20px;
  opacity: 1;
}
