.inputs{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    
}

.inputs input{
    width: 300px;
    margin: 0.5rem;
    height: 27px;
    border-radius: 1rem;
    border: 0.1px black solid;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    
}

.labels{
    font-weight: bold;
    color: var(--text);
    text-align: flex-start;
    font-size: 1.2rem;
}

input:focus{
    background-color: white;
}

