.inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px inset var(--primary);
  padding: 5%;
  margin-right: 15%;
  /* box-shadow: 2px 1px 10px 1px var(--primary); */
  box-shadow: 5px 5px 15px -3px var(--primary);
  border-radius: 1rem;
  height: 25rem;
}

.inputs input {
  width: 300px;
  margin: 0.5rem;
  height: 27px;
  border-radius: 1rem;
  border: 0.1px black solid;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  text-align: center;
}

.labels {
  color: var(--text);
  text-align: center;
  font-size: 1rem;
}

.enderecoContent{
    display: flex;
    flex-direction: column;
    height: 20rem;
    width: 14rem;
    background-color: var(--primary);
    border: 3px var(--primary) outset;
    align-items: center;
    justify-content: flex-start;
    position: absolute;
    top: 1.6rem;
    right: -8rem;
    
}

.ContractorContent{
  display: flex;
  flex-direction: column;
  height: 7rem;
  width: 13rem;
  background-color: var(--primary);
  border: 3px var(--primary)outset;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: -6rem;
  top: 1.6rem;
}

.DataContent{
    display: flex;
    flex-direction: column;
    overflow-x: auto;
    height: 4rem;
    width: 12rem;
    background-color: var(--primary);
    border: 3px var(--primary) outset;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: -6.1rem;
    top: 1.6rem;
}


.buttonsInput{
  background-color: var(--primary);
  height: 2.3rem;
  width: 8rem;
  color: black;
}

.buttonsInput:hover{
  text-shadow: 4px 4px 14px rgba(255, 233, 233, 0.6);
  color: rgba(255, 233, 233, 0.6);
}
