.view {
    font-size: 16px;
    color: black;
    margin: 1rem 0;
  }
  .title {
    display: flex;
    justify-content: center;
    color: black;
  }
  
  .topic {
    color: black;
    display: flex;
    align-content: flex-start;
  }
  
  table {
    display: flex;
    flex-direction: column;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border-right: 2px solid black;
    border-left: 2px solid black;
  }
  thead {
    display: flex;
    justify-content: space-around;
    text-align: center;
  }
  
  .view li {
    margin: 0.5rem 0.8rem;
  }
  
  .boxTextHeader {
    height: 50px;
    padding-bottom: 1%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    border-bottom: 1px black solid;
    margin-bottom: 5%;
  }
  
  .boxTextHeader p {
    color: black;
  }
  
  .logo {
    width: 60%;
  }
  
  .logo img {
    background-color: black;
  }

  .list{
    color:black;
  }
  
  .boxAssinatura {
    display: flex;
    flex-direction: column;
    margin-top: 13%;
    padding-top: 2.5%;
    border-top: 1px black solid;
    align-items: flex-start;
    width: 60%;
  }
  
  .boxAssinatura p {
    color: black;
  }

  tr{
    display: grid;
    width: 100%;
    grid-template-columns: 0.7fr 2fr 0.6fr;
    grid-template-rows: min-content;
    font-size: 1rem;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
  }

  .headerTable{
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

  .borderRB{
    display: flex;
    border-right: 1px black solid;
    border-bottom: 1px black solid;
    justify-content: center;
    align-items: center;
    background-color: rgb(248, 240, 240);
    border-top: 2px outset black;
    border-bottom: 2px outset black;
    
  }

  .borderB{
    display: flex;
    border-bottom: 1px black solid;
    justify-content: center;
    align-items: center;
    background-color: rgb(248, 240, 240);
    border-top: 2px outset black;
    border-bottom: 2px outset black;
  }

  .footerTable{
    display: flex;
    border-top: 2px outset black;
    text-transform: uppercase;
    font-weight: bold;
    
  }

  .footerTotal{
    border-bottom: 2px outset black;
    padding-top: 0.4rem;
    height: 2.2rem;
    background-color: rgb(248, 240, 240);
  }

  .wrapper {
    max-width: 100vw;
    margin: 1rem 2rem;
    padding: 0 1rem;
  
    display: grid;
    grid-template-columns: 30rem auto;
    grid-template-rows: 35rem;
  
    align-items: flex-start;
    justify-content: center;
    gap: 4rem;
  }

  .info {
    display: flex;
    justify-content: left;
    color: var(--text);
    padding-top: 2rem ;
    margin-left: 1rem;
  }

  .InputsContainer{
    width: 30rem;
    height: 25rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
  }

  .sectionDownload{
    height: 10rem;
    
  }

  .background{
    z-index: -1;
    position: relative;
  }

  .buttonSwitch{
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: auto;
    height: auto;
    background-color: transparent;
    
    
  }


  .buttonSwitch span {
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 1.8rem;
    color: var(--primary);
  }

  .buttonSwitchContainer{
    justify-content: flex-end;
    align-items: center;
    display: flex;
    width: 61.5rem;
    height: 3rem;
    
  }


  
  