.view {
    font-size: 16px;
    color: black;
    margin: 1rem 0;
  }
  .title {
    display: flex;
    justify-content: center;
    color: black;
  }
  
  .topic {
    color: black;
    display: flex;
    align-content: flex-start;
  }
  
  table {
    display: flex;
    flex-direction: column;
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 2px solid black;
  }
  thead {
    display: flex;
    justify-content: space-around;
    text-align: center;
  }
  
  .view li {
    margin: 0.5rem 0.8rem;
  }
  
  .boxTextHeader {
    height: 50px;
    padding-bottom: 1%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    border-bottom: 1px black solid;
    margin-bottom: 5%;
  }
  
  .boxTextHeader p {
    color: black;
  }
  
  .logo {
    width: 60%;
  }
  
  .logo img {
    background-color: black;
  }

  .list{
    color:black;
  }
  
  .boxAssinatura {
    display: flex;
    flex-direction: column;
    margin-top: 13%;
    padding-top: 2.5%;
    border-top: 1px black solid;
    align-items: flex-start;
    width: 60%;
  }
  
  .boxAssinatura p {
    color: black;
  }

  tr{
    display: grid;
    width: 100%;
    grid-template-columns: 1.1fr 2fr 0.85fr;
    grid-template-rows: min-content;
    font-size: 1rem;
    align-items: flex-start;
    text-align: center;
    text-transform: uppercase; 
  }

  .headerTable{
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }

  .borderRB{
    border-right: 1px black solid;
    border-bottom: 1px black solid;
    text-align: center;
  }

  .borderB{
    border-bottom: 1px black solid;
  }


  
  