.view {
  font-size: 16px;
  color: black;
  margin: 1rem 0;
}
.title {
  display: flex;
  justify-content: center;
  color: black;
}

.topic {
  color: black;
  display: flex;
  align-content: flex-start;
}

.tr {
  display: grid;
  width: 100%;
  grid-template-columns: 0.8fr 1fr 0.6fr 0.4fr;
  grid-template-rows: min-content;
  font-size: 1rem;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.table {
  display: flex;
  flex-direction: column;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border-right: 2px solid black;
  border-left: 2px solid black;
}
.thead {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

table {
  display: flex;
  flex-direction: column;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border-right: 2px solid black;
  border-left: 2px solid black;
}
thead {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.view li {
  margin: 0.5rem 0.8rem;
}

.boxTextHeader {
  height: 50px;
  padding-bottom: 1%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  border-bottom: 1px black solid;
  margin-bottom: 5%;
}

.boxTextHeader p {
  color: black;
}

.logo {
  width: 60%;
}

.logo img {
  background-color: black;
}

.list {
  color: black;
}

.boxAssinatura {
  display: flex;
  flex-direction: column;
  margin-top: 13%;
  padding-top: 2.5%;
  border-top: 1px black solid;
  align-items: flex-start;
  width: 60%;
}

.boxAssinatura p {
  color: black;
}

tr {
  display: grid;
  width: 100%;
  grid-template-columns: 0.7fr 2fr 0.6fr;
  grid-template-rows: min-content;
  font-size: 1rem;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.headerTable {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.borderRB {
  display: flex;
  border-right: 1px black solid;
  border-bottom: 1px black solid;
  justify-content: center;
  align-items: center;
  background-color: rgb(248, 240, 240);
  border-top: 2px outset black;
  border-bottom: 2px outset black;
}

.borderB {
  display: flex;
  border-bottom: 1px black solid;
  justify-content: center;
  align-items: center;
  background-color: rgb(248, 240, 240);
  border-top: 2px outset black;
  border-bottom: 2px outset black;
}

.footerTable {
  display: flex;
  border-top: 2px outset black;
  text-transform: uppercase;
  font-weight: bold;
}

.footerTotal {
  border-bottom: 2px outset black;
  padding-top: 0.4rem;
  height: 2.2rem;
  background-color: rgb(248, 240, 240);
}

.wrapper {
  max-width: 100vw;
  margin: 1rem 2rem;
  padding: 0 1rem;

  display: grid;
  grid-template-columns: 30rem auto;
  grid-template-rows: 35rem;

  align-items: flex-start;
  justify-content: center;
  gap: 4rem;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text);
  padding: 0.6rem;
  width: 22rem;
  margin-top: 2rem;
  border-top: 3px solid var(--primary);
  border-right: 3px solid var(--primary);
  box-shadow: 0px 5px 9px 1px var(--primary);
  border-bottom: 5px outset var(--primary);

  @media (min-width: 600px) {
    width: 33rem;
  }

  @media (min-width: 1500px) {
    width: 42.5rem;
  }
}

.InputsContainer {
  width: 30rem;
  height: 25rem;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 1rem;
}

.sectionDownload {
  height: 10rem;
}

.background {
  z-index: -1;
  position: relative;
}

.buttonSwitch {
  display: flex;
  align-items: center;
  justify-content: center;

  width: auto;
  height: auto;
  background-color: transparent;
}

.buttonSwitch span {
  align-items: center;
  justify-content: center;
  display: flex;
  font-size: 1.8rem;
  color: var(--primary);
}

.buttonSwitchContainer {
  justify-content: space-around;
  align-items: center;
  display: flex;
  width: 100%;
  height: 3rem;
}

.quebrarPage {
  page-break-before: always;
}

.wrapperHome {
  padding: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 15rem 8rem 17rem;
  margin: 3rem;
  align-items: flex-end;
  justify-items: center;
  gap: 1rem;
}

.tituloHome {
  width: auto;
  height: auto;
  background-color: var(--primary);
  padding: 1rem;
  box-shadow: 2px 4px 30px -3px rgba(0, 0, 0, 0.75);
  border-radius: 0.5rem;
  text-align: center;
  text-shadow: 1px 1px 1px rgb(255, 255, 255);
}

.bemVindo {
  width: auto;
  height: auto;
  border-radius: 0.5rem;
  text-shadow: 1px 1px 1px rgb(255, 255, 255);
  box-shadow: 2px 4px 30px -3px rgba(0, 0, 0, 0.75);
  padding: 1rem;
  background-color: rgb(32, 255, 69);
  text-align: center;
  align-self: flex-start;
}

.tipo {
  align-self: flex-start;
  width: auto;
  height: auto;
  background-color: var(--primary);
  padding: 1rem;
  box-shadow: 2px 4px 30px -3px rgba(0, 0, 0, 0.75);
  border-radius: 0.5rem;
  text-align: center;
  text-shadow: 1px 1px 1px rgb(255, 255, 255);
}

.gridCenter {
  width: auto;
  height: auto;
  background-color: var(--primary);
  padding: 1rem;
  box-shadow: 2px 4px 30px -3px rgba(0, 0, 0, 0.75);
  border-radius: 0.5rem;
  text-align: center;
  text-shadow: 1px 1px 1px rgb(255, 255, 255);
  grid-column-start: 2;
  justify-self: center;
  align-self: center;
}

.ultimoGrid {
  width: auto;
  height: auto;
  background-color: var(--primary);
  padding: 2rem;
  box-shadow: 2px 4px 30px -3px rgba(0, 0, 0, 0.75);
  border-radius: 0.5rem;
  text-align: center;
  text-shadow: 1px 1px 1px rgb(255, 255, 255);
  grid-column-start: 2;
  grid-row-start: 3;
  justify-content: center;
  align-self: flex-start;
  font-size: 1.3rem;
  text-decoration: none;
}

.li {
  color: black;
  font-weight: bold;
}

.aviso {
  background-color: rgb(255, 154, 154);
  display: flex;
  justify-content: center;
  border: 1px solid black;
  box-shadow: 2px 4px 30px -3px rgba(0, 0, 0, 0.75);
  margin-top: 2rem;
}
