.CplugTable {
  width: 400px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tableThead {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.firtTbodyTable {
  display: grid;
  grid-template-columns: 250px 150px;
}
.firtTbodyTable tr {
  display: flex;
  height: 1.5rem;
  border: 1px solid black;
  justify-content: center;
}

.firtTbodyTable input {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 16px;
  text-align: center;
}

.inputValueTotal {
  width: 100%;
  height: 100%;
  border: none;
  font-size: 16px;
  text-align: center;
}

.firtTFooterTable {
  display: grid;
  grid-template-columns: 250px 150px;
}

.firtTFooterTable tr {
  display: flex;
  height: 2.9rem;
  border-top: 1px solid black;
  border-right: 1px solid black;
  justify-content: center;
  align-items: center;
  padding: 4px;
}
