.table {
  margin-bottom: 1rem;
  border-top: 3px outset black;
  border-bottom: 3px outset black;
}

.headerTableH {
  width: 100%;
  /* background-color: red; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid black;
  text-transform: uppercase;
}

.headerTableH td {
  display: flex;
  flex-direction: column;
  /* background-color: blue; */
  align-items: center;
  font-weight: bold;
}

.tableBody {
  height: 15.9rem;
  /* background-color: green; */
  /*  display: grid;
  grid-auto-flow: row;
  grid-template-columns: 0.5fr 0.5fr; */
}

.divTest {
  display: grid;
  grid-template-columns: 1fr 0.6fr;
  grid-template-rows: min-content;
  font-size: 1rem;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}

.rowBody {
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-transform: none;
  font-weight: bold;
  border-right: 1px solid black;
  border-top: 1px solid black;
  font-size: 1rem;
}

textarea {
  resize: none;
  display: flex;
  text-align: center;
  padding-top: 0.15rem;
  font-size: 1rem;
  font-weight: 300;
  width: 350px;
  height: 2.65rem;
  border: none;
  border-top: 1px solid black;
  border-left: 1px solid black;
  &:focus {
    border: none;
  }
}

.fieldBody {
  display: flex;
  justify-content: center;
  width: 400px;
  border: 1px solid red;
}

.contentTr {
  align-items: center;
  display: flex;
  text-align: center;
  padding: 9px;
  width: 100%;
  height: 2.65rem;
  border-top: 1px solid black;
}

.inputUser {
  display: flex;
  justify-content: center;
  width: 7.5rem;
  height: 1.5rem;
  text-align: center;
}
