.header{
    background: var(--primary);
    height: 80px;

    display: flex;
    padding: 1.3rem 0;
    justify-content: space-around;

    box-shadow: 0px 9px 14px -3px rgba(0,0,0,0.75);
    border-bottom-right-radius: 15% ;
    border-bottom-left-radius: 15% ;
}

.header a {
    font-size: 1.5rem;
    color: var(--terciary)
}

.navbar li{
    display: inline;
    margin: 0 0.4rem;
}

