.visualization{
    padding: 0.5rem 1rem;
}

.textArea{
    overflow-y: auto;
    resize: none;
    box-shadow: 3px 3px 10px 0px rgba(183,28,28,1);
    border: 2px double rgba(183,28,28,1);
    padding: 1rem;
    font-weight: 500;
    
}