.visualization{
    padding: 0.5rem 1rem;
    border: 4px var(--primary) double;
    overflow-y: auto;
    height: 500px;
    text-align: justify;
    box-shadow: 1px 1px 4px var(--primary);
}

.view{
    font-size: 16px;
    color: black;
    margin: 1rem 0;
}
.title{
    display: flex;
    justify-content: center;
}

.topic{
    color: black;
    display: flex;
    align-content: flex-start;
}

table{
        
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 2px solid black;
}

tbody td{
    padding: 0.2rem;
    text-align: center;
}

th{
    text-align: center;
}

td{
    border: 1px solid;
}

.view li{
    margin: 0.5rem 0.8rem;
}