/* Segunda tabela Hiper */
.secondTable {
  display: flex;
  text-align: start;
  width: 418px;
  border: 1px solid black;
}
/* Configura as linhas da tabela */
.secondTableTr {
  display: flex;
  justify-content: center;
  padding: 4px;
  height: 42.5px;
}
/* Configura as TextAreas */
.secondTableTextArea {
  width: 300px;
  resize: none;
  display: flex;
  text-align: center;
  font-size: 1rem;
  font-weight: 300;
  height: 2.65rem;
  border: 1px solid black;
  font-family: "Roboto", sans-serif;
  &:focus {
    border: none;
  }
}
