.boxInputs {
  display: flex;
  height: 5rem;
  width: 100%;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  box-shadow: 0px 3px 35px 0px var(--primary);
  border-left: 3px outset var(--primary);
  border-right: 3px outset var(--primary);
  border-bottom: 4px outset var(--primary);
  border-top: 5px outset var(--primary);
  background-color: rgb(255, 255, 255);
}
