.download{
    height: 60px;
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
   
}

button{
    height: 40px;
    width: 130px;
    border-radius: 1rem;
    background-color: var(--primary);
    margin-left: 0.6rem;
}

button:hover{
    box-shadow: 3px 3px 10px var(--primary);
}




