h1,
h2,
h3,
p {
  color: var(--primary);
}


.gapContainerDowload {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex-wrap: wrap;
}

.InputsContainer {
  height: 25rem;
  width: 100%;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template: row;
  gap: 1rem 0;
  
}

.sectionDownload {
  margin-top: 1rem;
}

.editTable {
  margin-top: 1.5rem;
}

