h1,h2,h3,p{
    color:var(--primary);
}

.wrapper{
    max-width: 70rem;
    margin: 2rem auto;
    padding: 0 1rem;

    display: grid;
    grid-template-columns: 430px 1fr;
    grid-template-rows: 450px 40px;
    
    align-items: flex-start;
    justify-content: center;
}

.titulo{
    display: flex;
    margin: 5% 5%;
    width: fit-content;
}

.titulo h3{
    border-bottom: 2px var(--primary) solid;
}

.titulo h3::before{
    content: '► ';
    font-size: 1rem;
}

.info{
    margin: 5% 5%;
}

