h1,h2,h3,p{
    color:var(--primary);
}

button{
    height: 3rem;
    width: 10rem;
    border-radius: 1rem;
    background-color: var(--primary);
    margin-left: 0.6rem;
    color: white;
    font-weight: bold;
    border: 0;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 0.9rem;
}

.wrapper{
    max-width: 60rem;
    margin: 2rem auto;
    padding: 0 1rem;

    display: grid;
    grid-template-columns: 26.875rem 1fr;
    grid-template-rows: 34.375rem 18.75rem;
    
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
}

.titulo{
    display: flex;
    margin: 5% 5%;
    width: fit-content;
}

.titulo h3{
    border-bottom: 2px var(--primary) solid;
}

.titulo h3::before{
    content: '► ';
    font-size: 1rem;
}

.info{
    margin: 5% 5%;
    color:var(--text)
}


