:root {
    /* --primary: #b71c1c; */
    --primary: #0557eedc;
    --text:#171717;
    --background:#EFF6FF;
    --secondary: #1a237e;
    --terciary: #e0e0e0;
    --inputs: #f5eded;
    --gray-400: #8d8d99;
    --gray-600: #323238;
    --gray-700: #29292e;
    --gray-800: #202024;
    --gray-900: #121214;
  
    --green-500: #00875f;

    --danger: #dc2626;
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    background: rgb(255,255,255);
   
}
